body{   
  overflow-y:hidden;
}
 

.contacts-section{
    background-color: var(--colorCards);
    width: 25%;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    border-right: 1.5px solid darkgray;
    height: 86.5vh;
}

nav{
    box-shadow: none;
}

.contacts-header{
    display: flex;
    background-color: #E5E5E2;
    width: 100%;
    height: 104px;
    justify-content: space-between;
    align-items: center;
}

#addMessage{
    width: 32px;
}

.searchMobile {
    display: none;
}

.newChat{
    cursor: pointer;
    margin-right: 10px;
}

.chats-container{
    display: flex;
}

.contacts-section h2{
    font-weight: bold;
    font-size: 21px;
    margin-left: 10px;
}


ul{
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    display: flex;
    background: #E8E8E8;
    height: auto;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid darkgrey;
}

.iconSearch-chat{
    width: 20px;
}

li:hover{
    background-color: #BCB5B5;
}

.friend-image{
    position: relative;
    margin: 0px 0px 0px 8px;
    cursor: pointer;
    display: flex;
    align-items: self-end;
}

.imageContacto{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.status{
    width: 12px;
    height: 12px;
    margin: 0px 0px 3px -15px;
}


.contact-state{
    display: flex;
    align-items: center;
}

.contact-name{
    margin: 0;
    display: flex;
    font-size: 120%;
    align-items: center;
    font-weight: 500;
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 4%;
}

.contact-info p{
    margin: 0;
    margin-top: 8px;
}

.contact-info button{
    background: inherit;
    border: none;
    padding: 0;
    margin: 8px;
}

.contact-info button img{
    width: 20px;
    height: 20px;
}


.searchFriend{
    display: flex;
    width: 50%;
    padding: 12px 4px;
}

#searcher-chat{
    margin-left: 8px;
    background-color: var(--colorInputs);
    border-radius: 12px;
    border: none;
    padding-left: 50px;
    width: 266px;
    font-size: 18px;
    height: 36px;
}

.searchFriend button{
    border-radius: 12px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -250px;
    transition: all ease 200ms;
    background-color: inherit;
}

#chatActual{
    background-color: #BCB5B5;
}

.chat{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    width: 100%;
}
.chat-header{
    display: flex;
    width: 100%;
    background-color: #E5E5E2;
    align-items: center;
    justify-content: space-between;
}

.chat-profile{
    display: flex;
    align-items: center;
    margin-left: 2%;
    cursor: pointer;
}

.chat-profile h3{
    margin-left: 8px;
    font-weight: 500;
}

.camera{
    cursor: pointer;
    margin-right: 4%;
}

.camera img{
    width: 30px;
}

.chat-container{
    height: 100%;
   background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
}

.message-received{
    max-width: 420px;
    display: flex;
    justify-self: flex-start;
    width: fit-content;
    align-items: center;
    border-radius: 12px;
    font-size: 17px;
    background-color: #E4982C;
    margin: 22px 24px;
    margin-left: 5%;
    margin-bottom: 0;
    padding: 11px 27px 11px 3px;
}

.message-sent{
    align-self: end;
    max-width: 420px;
    display: flex;
    justify-self: flex-start;
    width: auto;
    font-size: 17px;
    align-items: center;
    border-radius: 12px;
    background-color: #E4982C;
    margin: 22px 24px;
    margin-bottom: 0;
    margin-right: 5%;
    padding: 0px 15px;
}

.message-sent img{
    position: relative;
    left: 10px;
    top: 10px;
}

.chat-img-container{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.chat-img-container img{
    width: 30px;
}

.message-received p{
    margin: 0;
    margin-left: 10px;
}

.send-container{
    display: flex;
    padding-bottom: 1%;
    padding-top: 1%;
    position: fixed;
    bottom: 0;
    width: 80%;
}

#send{
    margin: 0 11px;
    background-color: var(--colorInputs);
    border-radius: 12px;
    border: none;
    padding-left: 10px;
    font-size: 17px;
    height: 46px;
    width: 92%;
}

.send-container button{
    border: none;
    cursor: pointer;
    position: relative;
    left: -74px;
    background: none;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 927px) {
    .chats-container{
        flex-direction: column;
        z-index: 0;
    }

    .contacts-section{
        height: auto;
        width: auto;
        align-items: center;
    }

    .contacts-header{
        height: 54px !important;
    }

    .newChat {
        cursor: pointer;
        margin-right: 10px;
        margin: 0 5px 0 0px;
        display: flex;
        flex-direction: row;
        width: 115px;
        align-items: center;
        justify-content: space-around;
    }

    #addMessage {
        margin: 0px 0 10px 0;
        width: 30px;
    }

    .searchFriend{
        width: 100% !important;
        padding: 10px 0;
        display: none;
    }

    .searchFriend input{
        min-width: 80%;
        padding-left: 10px !important;
    }

    .searchFriend button{
        position: inherit;
        background-color: var(--colorInputs);
        border: 2px solid black;
        margin-left: 10px;
    }

    .searchMobile {
        width: 28px;
        display: block;
        margin: 0 0px 0px 0;
    }

    .user-chats{
        height: auto;
        overflow: hidden;
        overflow-x: auto;
        display: flex;
        flex-direction: row;
        padding: 5px;
        width: 100%;
        width: 95%;
        border-radius: 12px;
        width: 100%;
    }

    li{
        width: 100% !important;
        margin-left: 5px;
        padding: 10px 21px 10px 0px;
        border-radius: 12px !important;
        margin-bottom: 10px;
    }
    .contact-name{
        white-space: nowrap;
    }
    .contact-info p {
        white-space: nowrap;
    }

    .chat {
        display: flex;
        flex-direction: column;
        min-height: 90vh;
        width: 100%;
        z-index: 1000;
    }

    .chat-header {
        display: flex;
        width: 100%;
        background-color: #E5E5E2;
        align-items: center;
        justify-content: space-between;
    }

    .chat-profile {
        display: flex;
        align-items: center;
        margin-left: 2%;
        cursor: pointer;
    }

    .camera {
        cursor: pointer;
        margin-right: 4%;
    }

    .camera img {
        width: 25px;
    }

    .profile-img-container {
        display: flex;
        position: relative;
        width: 40px;
        height: 40px;
        overflow: hidden;
        /* margin: 10px 10px 10px 0; */
        border-radius: 100%;
        cursor: pointer;
    }

    .imageContacto {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    .friend-image {
        position: relative;
        margin: 0px 0px 0px 8px;
        cursor: pointer;
        display: flex;
        align-items: self-end;
    }

    .status {
        width: 12px;
        height: 12px;
        margin: 0px 0px 3px -15px;
    }

    .send-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 118vw;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-left: 4%;
    }

    .message-received {
        max-width: 420px;
        display: flex;
        justify-self: flex-start;
        width: fit-content;
        align-items: center;
        border-radius: 12px;
        font-size: 17px;
        background-color: #E4982C;
        margin: 22px 24px;
        margin-left: 5%;
        margin-bottom: 0;
        padding: 6px 15px 6px 0px;
    }

    .message-sent {
        align-self: end;
        max-width: 420px;
        display: flex;
        justify-self: flex-start;
        width: auto;
        font-size: 17px;
        align-items: center;
        border-radius: 12px;
        background-color: #E4982C;
        margin: 22px 24px;
        margin-bottom: 0;
        margin-right: 5%;
        padding: 13px 14px;
    }

    .chat-img-container {
        margin-left: 10px;
        display: flex;
        align-items: center;
    }

    .chat-container{
        height: 90vh;
    }

    .chat-img-container img {
        width: 30px;
    }

    .message-received p {
        margin: 0;
        margin-left: 10px;
    }

    .textoMensaje{
        text-align: left;
        margin: 0;
    }
    

    #send{
        width: 1000vw;
        justify-self: end !important;
    }

    
    #imageSend {
    width: 42px;
    }

    body{
        overflow-y:auto
    }
}
