:root{
    --colorBotones: #E4982C;
    --colorFondo: #E5E5E2;
    --colorInputs: #E6E6E6;
    --colorCards: #FFFFFF;
    --colorNav: #FFFFFF;
}
 

nav{
    display: flex;
    flex-direction: row;
    background-color: var(--colorNav);
    justify-content: space-between;
    top: 0;
    position: sticky;
    z-index: 1000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.left-container{
    margin-left: 2%;
    display: flex;
    align-items: center;
}

.searcher-container{
    display: flex;
    align-items: center;
    height: auto;
    margin-left: 18px;
}

#searcher{
    margin-left: 11px;
    background-color: var(--colorInputs);
    border-radius: 12px;
    border: none;
    padding-left: 50px;
    width: 266px;
    font-size: 18px;
    height: 46px;
}

.logo{
    width:75px;
    height: 75px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 100px;
    padding: 10px;
}

.searcher-container button{
    border-radius: 12px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 86%;
    transition: all ease 200ms;
    background-color: inherit;
}


.right-container{
    display: flex;
    align-items: center;
}

.profile-img-container{
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    /* margin: 10px 10px 10px 0; */
    border-radius: 100%;
    cursor: pointer;
}


.right-container h3{
    cursor: pointer;
    margin: 0 0px 0 7px;
}

.icon{
    width: 30px;
}

.iconSearch{
    width: 25px;
}

.icn-profile{
    display: none;
}


.right-container a{
    margin-right: 30px;
    border: none;
    background-color: inherit;
    transition: all ease 500ms;
}

.right-container a img{
    transition: all ease 200ms;
    cursor: pointer;
}




.right-container a:hover{
    filter: drop-shadow(0px 4px 4px #AF7511);
}

.nav-profile{
    display: flex;
    align-items: center;
    transition: all ease 200ms;
    margin-right: 30px;
}

.nav-profile a{
    margin-right: 0px;
}



#logout:hover{
    filter: drop-shadow(0px 4px 4px #ff0000);
}

#actualPage{
    padding-bottom: 4px;
    padding-top: 4px;
    border-bottom: 3px solid var(--colorBotones);
}

.logout{
    margin-left: 40px;
}

a{
    color: black;
    flex-direction: row;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0;
}


.profile-img{
    width: 50px;
}

.notifications-container{
    position: absolute;
    top: -100%;
    border-radius: 12px;
    z-index: -1000;
    height: 480px;
    width: 400px;
    background-color: white;
    opacity: 0;
    padding: 1px 10px;
    display: none;
}

.notifications-container ul{
    height: 443px;
    overflow: hidden;
    overflow-y: auto;
    padding: 0;
    width: 100%;
    margin: 16px 0;
}

.notifications-container li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: #E8E8E8;
    height: auto;
    border-radius: 12px;
    padding: 8px 0px;
    margin: 0 0 10px 0px;
    width: 95%;
    border: none;
}

.profile-img-container-notifications{
    margin: 0 !important;
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    /* margin: 10px 10px 10px 0; */
    border-radius: 100%;
    cursor: pointer;
}

.notifications{
    padding: 10px;
    margin: 0 0 5px -9px;
}


.click{
    background-color: var(--colorBotones) !important;
    padding: 10px;
    border-radius: 12px;
}

.change-display{
    opacity: 1;
    top: 110px;
    display: flex;
}

.profile-notifications{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.link-profile{
    margin: 0;
    white-space: nowrap;
    margin-right: 2px;
    font-weight: bold;
}

.profile-notifications p{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 10px;
    max-width: 270px;
}

.point{
    display: block;
    border: 5px solid var(--colorBotones);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    animation: spin 2s linear infinite;
    z-index: 1;
    margin-right: 20px;
}

.icn-search{
    display: none;
}


.icn-search img{
    width: 30px;
    height: 30px;
}

.deleteNotification{
    margin-right: 18px;
}

.imgNoti{
    width: 22px;
    height: 22px;
}

@media only screen and (max-width: 927px) {
    .searcher-container{
        display: none;
    }
    .chat-container{
        background-color: rgb(128, 0, 255);
    }

    .left-container{
        display: none;
    }

    nav{
        justify-content: flex-start;
        align-items: center;
        z-index: 100;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .right-container{
        min-width: 100vw;
        padding: 20px 0px;
        display: flex;
        justify-content: space-around;
    }
    
    .right-container a{
        margin: 0 !important;
    }
    .icn-profile{
        display: flex;
    }

    .icn-search{
        display: flex;
    }


    .nav-profile{
        display: none;
    }

    .notifications-container{
        width: 80%;   
    }

    .deleteNotification{
        margin-right: 18px;
    }

    .imgNoti{
        width: 22px;
        height: 22px;
    }
}