:root{
    --colorBotones: #E4982C;
    --colorFondo: #E5E5E2;
    --colorInputs: #E6E6E6;
    --colorCards: #FFFFFF;
    --colorNav: #FFFFFF;
}
 

nav{
    display: flex;
    flex-direction: row;
    background-color: var(--colorNav);
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.left-container{
    margin-left: 2%;
    display: flex;
    align-items: center;
}

.searcher-container{
    display: flex;
    align-items: center;
    height: auto;
    margin-left: 18px;
}

#searcher{
    margin-left: 11px;
    background-color: var(--colorInputs);
    border-radius: 12px;
    border: none;
    padding-left: 50px;
    width: 292px;
    font-size: 18px;
    height: 46px;
}

.logo{
    width:75px;
    height: 75px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 100px;
    padding: 10px;
}

.searcher-container button{
    border-radius: 12px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 86%;
    transition: all ease 200ms;
    background-color: inherit;
}


.right-container{
    display: flex;
    align-items: center;
}

.profile-img-container{
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 10px 10px 10px 0;
    border-radius: 100%;
    cursor: pointer;
}


.right-container h3{
    cursor: pointer;
}

.icon{
    width: 30px;
}

.iconSearch{
    width: 25px;
}


.right-container button{
    margin-right: 30px;
    border: none;
    background-color: white;
}

.right-container button img{
    transition: all ease 200ms;
    cursor: pointer;
}

.right-container button img:hover{
    filter: drop-shadow(0px 4px 4px #AF7511);
}

.nav-profile{
    display: flex;
    align-items: center;
    transition: all ease 200ms;
    margin-right: 45px;
}

.nav-profile:hover{
    filter: drop-shadow(0px 4px 4px #AF7511);
}

#logout:hover{
    filter: drop-shadow(0px 4px 4px #ff0000);
}

#actualPage{
    border-bottom: 3px solid var(--colorBotones);
}

.logout{
    margin-left: 40px;
}